
.about
    --fill-dark: #cc9900

    &__top 
        text-align: center
        padding-top: 60px
        +media(1200px)
            display: flex

    &__title 
        font-family: "Yeseva One"
        font-size: 2.25rem
        line-height: 1.5rem
        color: #cc9900
        font-weight: 400
        +media(320px)
            font-size: 1.5rem
        +media(768px) 
            font-size: 2.25rem
    &__text 
        max-width: 470px
        margin: 0 auto
        font-family: "Lato"
        font-weight: 400
        font-size: 1rem
        line-height: 1.5rem
        color: #4c4c4c
    &__cook 
        margin-left: 65px
.about__img
    max-width: 100%

.about__images, .about__motto
    +media(1200px)
        flex-basis: 50%
.image__decor 
    +media(320px)
        width: 150px
    +media(768px)
        width: 200px
            
            
