.footer 
    background-color: #191919
    --fill-dark: #fff
.footer__group
    padding-top: 50px 0
    display: grid
    max-width: 1100px
    margin: 0 auto
    grid-template-columns: repeat(3, 1fr) 

.footer__title 
    font-family: "Yeseva One"
    font-weight: 400
    text-align: center
    font-size: 1.3125rem
    line-height: 1.5rem
    color: #fefefe
.footer__text
    font-family: "Open Sans" 
    text-align: center 
    font-size: 1rem
    font-weight: 700
    line-height: 1.5rem
    color: #ffffff

.image-decor--colored 
    padding-left: 100px
.social__footer 
    text-align: center
.social__icon--colored 
    color: #fff
.payments 
    text-align: center

.payments-card
    text-decoration: none 
    padding: 0 5px
    font-size: 16px
    line-height: 24px
    color: #666666
    font-weight: 700
    font-family: "Open Sans"
    border: 1px solid #ffffff
    background: #fff
    border-radius: 3px