.ingredients 
    background: url(../img/vase.jpg) 
.ingredients__group 
    text-align: center
    width: 50%
    margin-left: auto
.image__decor 
        height: 30px 
.ingredients__container
        display: flex

.ingredients 
        --fill-dark: #ffff
        

.ingredients__title 
        font-family: "Yeseva One"
        font-weight: 400
        padding-top: 50px
        font-size: 2.25rem
        color: #ffffff
.ingredients__text 
        font-family: "Lato"
        font-weight: 400
        font-size: 1rem
        line-height: 1.5rem
        color: #ffffff
.ingredients__top
        font-family: "Lato"
        font-weight: 400
        font-size: 1rem
        line-height: 1.5rem
        color: #ffffff
        list-style: none
.ingredients__images 
        padding-bottom: 20px
        
.cinnamon__img
        margin-left: 10px
.loaf__img 
        margin-left: 10px