
.ingredients 
        background: url(../img/ingredients.jpg) left 0 / cover
        max-width: 100%
        height: auto
        padding: 5rem 0

.ingredients__group 
        text-align: center
        background: rgba(0, 0, 0, .5)
        padding: 1rem 1rem
        position: relative
        min-height: 550px
.ingredients__container
        +media(768px)
                display: flex
                justify-content: flex-end
        
.ingredients__title 
        font-family: "Yeseva One"
        font-weight: 400
        font-size: 1.5rem
        color: #ffffff
        margin-bottom: 20px
        +media(768px) 
                font-size: 2.25rem
.ingredients__images 
        padding-top: 45px

.ingredients
        --fill-dark: #ffff

.wheat__img 
        margin-left: 1rem
.ingredients__text 
        font-family: "Lato"
        font-weight: 400
        font-size: 1rem
        line-height: 1.5rem
        color: #ffffff  
        max-width: 430px 
        margin-left: auto
        margin-right: auto  
        +media(480px) 
                text-align: center
.ingredients__top 
        position: absolute
        list-style: none
        font-family: "Lato"
        font-weight: 400
        font-size: 1rem
        color: #ffffff 
        text-align: left 
        bottom: 40px
        +media(375px)
                // bottom: -10px
                margin-left: 35px 
        +media(390px)
                bottom: 100px
        +media(480px) 
                padding-left: 90px
                bottom: 128px
        +media(760px) 
                bottom: 90px
                padding-left: 80px

              
             
.ingredients__icon 
        padding: 5px
.ing-name 
        margin-left: 2px