.menu 
    background: url(../img/patter.png), url(../img/menu.png)
    
.menu__group
    
    +media(480px)
        max-width: 70%
        margin: 0 auto
    +media(768px)
        display: flex
        justify-content: space-between
        padding: 60px 0
        max-width: 100%
        margin: 0
.menu__item
    +media(768px)
        flex-basis: 50%

.menu-starter
    +media(768px)
        margin-right: 10vw


.Appetisers
    text-align: center
.menu__title 
    font-family: "Yeseva One"
    font-weight: 400
    font-size: 1.5rem
    line-height: 1.5rem
    color: #cc9900
    +media(992px)
        font-size: 2.25rem
   

.menu__text 
    font-family: "Yeseva One"
    font-size: 1rem
    opacity: .8
.menu
    --fill-dark: #cc9900
    
.price__title 
    font-family: "Yeseva One" 
    font-weight: 400  
    font-size: 1.2125rem
    line-height: 1.5rem
    color: #c89f2d
    +media(992px)
        font-size: 1.3125rem
.price__item 
    color: #cc9900
.image-decor 
    width: 150px
    height: 30px
    +media(992px)
        width: 200px
.price 
    display: flex
    aligh-items: center
    justify-content: space-between
    border-bottom: 1px solid #cc9900 
    
.Salads 
    text-align: center

.price__special
    outline: 1px solid  #cc9900
    padding: 5px 5px
.price__gusto 
    padding-top: 1rem 
.price-btn
    padding: 3px 9px
    border: none
    background: #cc9900
    color: #ffffff
    max-width: 100%
    opacity: .7
    margin-right: -1px
    transition: 0.4s
.price-btn:hover 
    background: #ec1313
    transition: 0.4s
.Starters 
    text-align: center

.menu-btn
    display: flex
    justify-content: flex-end
    margin-right: -1
.name:hover 
    background: #e8f6f6

