
.reservation__group
    display: flex
    justify-content: space-around
    padding-top: 100px
.reservation 
    position: relative  
    --fill-dark: #cc9900

.reservation__top 

.image-decor
    text-align: center
    height: 20px
.meat 
    padding-left: 60px
.form__group 
    display: flex
.reservation__title 
    font-family: "Yeseva One"
    font-weight: 400
    font-size: 2.25rem
    line-height: 1.5rem
    color: #cc9900
    text-align: center

.reservation__text
    font-family: "Lato" 
    font-weight: 400
    font-size: 1rem
    line-height: 1.5rem
    color: #4c4c4c
    text-align: center

.form__btn
    display: block
    text-align: center
    margin: 0 auto 
    padding: 0.5625rem 3.75rem
    font-family: "Open Sans"
    font-weight: 400
    font-size: 1rem
    color: #ffffff
    background-color: rgba(200,159,45,0.98)
    border: 1px solid #c89f2d
.label 
    font-size: 0.875rem
    color: #c9a131
    font-weight: 700
    font-family: "Open Sans"
.name
    padding: 9px 10px 9px 15px
    font-size: 1rem
    color: #7c7c7c
    font-weight: 400
    font-style: italic
    font-family: "Open Sans"
    border: 1px solid #e1d1a4


